# Ignore .log files
*.log

# Ignore node_modules directory
node_modules/
package-lock.json

#Ignore dot files
.env
.DS_Store

#Ignore Firebase Secret files
src/Config/firebase.config.js
firebase.json
.firebaserc

#Ignore source files
build/bundle