# Ignore .log files
*.log

# Ignore node_modules directory
node_modules/
package-lock.json

#Ignore dot file
.env
.DS_Store

#Ignore Firebase Secret Key file
firebase.config.js
.firebaserc

#Ignore source files
build/bundle/main.js